<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="账户密码" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc>
        当前密码强度：<span class="text-green">强</span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="手机" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc>
        <span *ngIf="user.phone">
          已绑定手机：{{user.phone}}
        </span>
        <span *ngIf="!user.phone">
          未绑定手机
        </span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="邮箱" [nzDescription]="emailDesc">
      <ng-template #emailDesc>
        <span *ngIf="user.email">
          已绑定邮箱：{{user.email}}
        </span>
        <span *ngIf="!user.email">
          未绑定手机
        </span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
