<button nz-button nzType="primary" class="mb-md" (click)="createWebsite()">添加站点</button>
<nz-table #websitesTable [nzData]="websites" [nzPageSize]="10" [nzLoading]="loading">
  <thead>
    <tr>
      <th></th>
      <th>网站名</th>
      <th>域名</th>
      <th>员工数</th>
      <th>创建时间</th>
      <th class="text-right">操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-website [ngForOf]="websites">
      <tr>
        <td [(nzExpand)]="website.expand" (nzExpandChange)="expand(website, $event)"></td>
        <td>{{ website.name }}</td>
        <td>{{ website.website }}</td>
        <td>{{ website.users_count }}</td>
        <td>{{ website.created_at }}</td>
        <td class="text-right">
          <span class="table-operation">
            <a (click)="updateWebsite(website)">资料</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="updateAppearance(website)">外观</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="getCode(website)">获取安装代码</a>
          </span>
        </td>
      </tr>
      <tr [nzExpand]="website.expand" *ngIf="website.expand">
        <button nz-button nzType="primary" class="mb-md float-right" (click)="createEmployee()">添加客服</button>
        <nz-table #employeesTable [nzData]="employees" nzSize="middle" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>姓名</th>
              <th>权限</th>
              <th>(邮箱/手机)验证</th>
              <th>员工状态</th>
              <th>接待会话数</th>
              <th class="text-right">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employees">
              <td>{{ data.name }}</td>
              <td>
                <nz-badge [nzStatus]="'success'" [nzText]="'permission.' + permission.name | i18n" *ngFor="let permission of data.permissions"></nz-badge>
              </td>
              <td>
                <nz-badge [nzStatus]="'success'" [nzText]="'已验证'" *ngIf="data.email_verified_at"></nz-badge>
                <nz-badge [nzStatus]="'warning'" [nzText]="'未验证'" *ngIf="!data.email_verified_at"></nz-badge>
              </td>
              <td>
                <nz-badge [nzStatus]="'success'" [nzText]="'有效'" *ngIf="!data.deleted_at"></nz-badge>
                <nz-badge [nzStatus]="'warning'" [nzText]="'已禁用'" *ngIf="data.deleted_at"></nz-badge>
              </td>
              <td>{{ data.conversations_count }}</td>
              <td class="text-right">
                <span class="table-operation">
                  <a (click)="updateEmployee(data)">修改资料</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a class="operation" (click)="deactivateEmployee(website,data)" *ngIf="data.id !== user.id && !data.deleted_at">禁用</a>
                  <a class="operation" (click)="activateEmployee(website,data)" *ngIf="data.id !== user.id && data.deleted_at">启用</a>
                  <nz-divider nzType="vertical" *ngIf="data.id !== user.id"></nz-divider>
                  <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
                    更多 <i nz-icon nzType="down"></i>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item>
                        <a (click)="updateEmployeePassword(website, data)">修改密码</a>
                      </li>
                      <li nz-submenu nzTitle="修改权限" [nzDisabled]="true" *ngIf="data.id === user.id || data.deleted_at"></li>
                      <li nz-submenu nzTitle="修改权限" *ngIf="data.id !== user.id && !data.deleted_at">
                        <ul>
                          <li nz-menu-item>
                            <a (click)="changePermission(data,'manager')">管理员</a>
                          </li>
                          <li nz-menu-item>
                            <a (click)="changePermission(data,'support')">客服</a>
                          </li>
                        </ul>
                      </li>
                      <li nz-menu-divider></li>
                      <li nz-menu-item [nzDisabled]="true" *ngIf="data.id === user.id || data.deleted_at">
                        <a>穿越</a>
                      </li>
                      <li nz-menu-item *ngIf="data.id !== user.id && !data.deleted_at">
                        <a>穿越</a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<nz-drawer *ngIf="drawerWebsite" [nzClosable]="false" [nzWidth]="450" [nzVisible]="drawerWebsite" [nzTitle]="drawerWebsiteAction==='create' ? '添加网站' : '修改网站'" (nzOnClose)="drawerWebsiteClose()">
  <form nz-form nzLayout="vertical" [formGroup]="drawerWebsiteForm" (ngSubmit)="submitWebsiteForm()">
    <nz-form-item>
      <nz-form-label>网站名</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 网站名字!">
        <input nz-input formControlName="name" placeholder="网站名字" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>域名</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 网址!">
        <input nz-input formControlName="website" placeholder="网址" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>财务联系人</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 财务联系人!">
        <input nz-input formControlName="billing_name" placeholder="财务联系人" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>财务联系电话</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 财务联系电话!">
        <input nz-input formControlName="billing_phone" placeholder="财务联系电话" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>技术联系人</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 技术联系人!">
        <input nz-input formControlName="technical_name" placeholder="技术联系人" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>技术联系电话</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 技术联系电话!">
        <input nz-input formControlName="technical_phone" placeholder="技术联系电话" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer *ngIf="drawerAppearance" [nzClosable]="true" [nzWidth]="'100%'" [nzVisible]="drawerAppearance" [nzTitle]="'外观'" (nzOnClose)="drawerAppearanceClose()">
  <div nz-row>
    <div nz-col [nzSpan]="18">
      <iframe *ngIf="drawerAppearanceData.website" [src]="drawerAppearanceData.website_url_safe" class="border-0 width-100" style="height: 100%"></iframe>
    </div>
    <form style="border-left: 1px solid #ccc; padding-left: 20px;" nz-col [nzSpan]="6" nz-form nzLayout="vertical" [formGroup]="drawerAppearanceForm" (ngSubmit)="submitAppearanceForm()">
      <nz-form-item>
        <nz-form-label>配色方案</nz-form-label>
        <nz-form-control nzErrorTip="Please select your 配色方案!">
          <nz-radio-group formControlName="theme">
            <label nz-radio-button nzValue="default" class="btn-theme rounded-0 theme-default"></label>
            <label nz-radio-button nzValue="blue1" class="btn-theme rounded-0 theme-blue1"></label>
            <label nz-radio-button nzValue="blue2" class="btn-theme rounded-0 theme-blue2"></label>
            <label nz-radio-button nzValue="blue-purple" class="btn-theme rounded-0 theme-blue-purple"></label>
            <label nz-radio-button nzValue="purple" class="btn-theme rounded-0 theme-purple"></label>
            <label nz-radio-button nzValue="pink" class="btn-theme rounded-0 theme-pink"></label>
            <label nz-radio-button nzValue="dark" class="btn-theme rounded-0 theme-dark"></label>
            <label nz-radio-button nzValue="cyan" class="btn-theme rounded-0 theme-cyan"></label>
            <label nz-radio-button nzValue="red1" class="btn-theme rounded-0 theme-red1"></label>
            <label nz-radio-button nzValue="red2" class="btn-theme rounded-0 theme-red2"></label>
            <label nz-radio-button nzValue="red3" class="btn-theme rounded-0 theme-red3"></label>
            <label nz-radio-button nzValue="green1" class="btn-theme rounded-0 theme-green1"></label>
            <label nz-radio-button nzValue="green2" class="btn-theme rounded-0 theme-green2"></label>
            <label nz-radio-button nzValue="green3" class="btn-theme rounded-0 theme-green3"></label>
            <label nz-radio-button nzValue="blue-light" class="btn-theme rounded-0 theme-blue-light"></label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>打招呼的话</nz-form-label>
        <nz-form-control nzErrorTip="Please input your 打招呼的话!">
          <textarea nz-input formControlName="greeting_message" rows="3" placeholder="打招呼的话"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>关闭对话提醒</nz-form-label>
        <nz-form-control nzErrorTip="Please input your 关闭对话提醒!">
          <textarea nz-input formControlName="terminate_manual" rows="3" placeholder="关闭对话提醒"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>对话超时提醒</nz-form-label>
        <nz-form-control nzErrorTip="Please input your 对话超时提醒!">
          <textarea nz-input formControlName="terminate_timeout" rows="3" placeholder="对话超时提醒"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>对话超时时间</nz-form-label>
        <nz-form-control nzErrorTip="Please select your 对话超时时间!">
          <nz-select formControlName="timeout">
            <nz-option nzValue="180" nzLabel="3分钟"></nz-option>
            <nz-option nzValue="300" nzLabel="5分钟"></nz-option>
            <nz-option nzValue="600" nzLabel="10分钟"></nz-option>
            <nz-option nzValue="900" nzLabel="15分钟"></nz-option>
            <nz-option nzValue="1800" nzLabel="30分钟"></nz-option>
            <nz-option nzValue="3600" nzLabel="1小时"></nz-option>
            <nz-option nzValue="7200" nzLabel="2小时"></nz-option>
            <nz-option nzValue="21600" nzLabel="6小时"></nz-option>
            <nz-option nzValue="43200" nzLabel="12小时"></nz-option>
            <nz-option nzValue="86400" nzLabel="24小时"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-drawer>

<nz-drawer *ngIf="drawerEmployee" [nzClosable]="false" [nzWidth]="450" [nzVisible]="drawerEmployee" [nzTitle]="drawerEmployeeAction==='create' ? '添加员工': '更新员工'" (nzOnClose)="drawerEmployeeClose()">
  <form nz-form nzLayout="vertical" [formGroup]="drawerEmployeeForm" (ngSubmit)="submitEmployeeForm()">
    <nz-form-item>
      <nz-form-label>姓名</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 姓名!">
        <input nz-input formControlName="name" placeholder="姓名" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>邮箱</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 邮箱!">
        <input nz-input formControlName="email" placeholder="邮箱" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>介绍</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 介绍!">
        <textarea nz-input formControlName="title" rows="3" placeholder="介绍"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer *ngIf="drawerPassword" [nzClosable]="false" [nzWidth]="450" [nzVisible]="drawerPassword" nzTitle="员工密码修改" (nzOnClose)="drawerPasswordClose()">
  <form nz-form nzLayout="vertical" [formGroup]="drawerPasswordForm" (ngSubmit)="submitPasswordForm()">
    <nz-form-item>
      <nz-form-label>密码</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 密码!">
        <input nz-input type="password" formControlName="password" placeholder="密码" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>确认密码</nz-form-label>
      <nz-form-control nzErrorTip="Please input your 确认密码!">
        <input nz-input type="password" formControlName="password_confirmation" placeholder="确认密码" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<nz-drawer *ngIf="drawerCode" [nzClosable]="false" [nzWidth]="450" [nzVisible]="drawerCode" nzTitle="代码安装" (nzOnClose)="drawerCodeClose()">
  <textarea nz-input rows="15">&lt;script type="application/javascript"&gt;
window._kefuchat_init = function () {
    return {
        institution_id: '{{ drawerCodeData.id }}'
        // 可配置
        // unique_id: 用户 ID
        // name: 用户名
        // phone: 电话/手机号
        // email: 电子邮箱E-mail
    };
}
&lt;/script&gt;
&lt;script type="application/javascript" src="{{assetsHost}}widget.js" async defer&gt;&lt;/script&gt;</textarea>
</nz-drawer>