<div class="container">
  <!--<header-i18n showLangText="false" class="langs"></header-i18n>-->
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!--<img class="logo" src="./assets/logo-color.svg" />-->
        <span class="title" (click)="router.navigateByUrl('/')">Kefu.chat</span>
      </div>
      <div class="desc">多功能、跨平台、高性价比的客服软件</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      <div>
        <i nz-icon nzType="copyright"></i> 2020
        <a href="//www.kefu.chat">客服洽</a> 版权所有.
        <a href="//beian.miit.gov.cn/">沪ICP备20022337号-5</a>.
      </div>
      <div class="mt-sm">
        <a class="align-middle d-inline-block" href="https://seal.trustasia.com/seal/detail?domain=kefu.chat" target="_seal">
          <img class="img-seal" src="./assets/seal-trustasia.svg" style="width: 80px;">
        </a> 
        <button nz-button class="align-middle d-inline-block border-0 bg-transparent p0 m0 ml-sm" nz-popover nzPopoverTrigger="hover" nzPopoverPlacement="right" nzPopoverOverlayClassName="bg-transparent" [nzPopoverContent]="sealPreview" [nzPopoverTitle]="''" (click)="openComodoSeal()">
          <img class="img-seal" src="./assets/seal-comodo.svg" style="width: 72px;height: 29px;margin-top: -2px;">
          <ng-template #sealPreview>
            <iframe src="https://comodo-status.digital-sign.com.cn/ttb_searcher/trustlogo?v_querytype=C&v_shortname=POSEV&v_search=http://www.kefu.chat&x=6&y=5" class="w-100 border-0"></iframe>
          </ng-template>
        </button>
      </div>
    </global-footer>
  </div>
</div>
<layout-theme-btn></layout-theme-btn>