/* You can add global styles to this file, and also import other style files */
.alain-default__header {
  height: 52px;
}
.setheight {
  height: calc(100% - 52px);
  margin-top: 52px !important;
  margin-left: 200px !important;
}
.alain-default__aside {
  margin-top: 52px;
}
.alain-default {
  height: 100%;
}
