<main id="site-content" role="main">
  <article class="post-33 page type-page status-publish has-post-thumbnail hentry" id="post-33">
    <div class="post-inner thin ">
      <div class="entry-content">
        <div data-elementor-type="wp-page" data-elementor-id="33" class="elementor elementor-33" data-elementor-settings="[]">
          <div class="elementor-inner">
            <div class="elementor-section-wrap">
              <section class="elementor-element elementor-element-6fc1aa0b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6fc1aa0b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1440px; left: -99.5px; height: 650px;">
              </section>
              <section class="elementor-element elementor-element-698e6710 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="698e6710" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div class="elementor-element elementor-element-684a66ec elementor-column elementor-col-100 elementor-top-column" data-id="684a66ec" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-2fd09320 elementor-absolute elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-image" data-id="2fd09320" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img src="./assets/05/彩色.png" title="" alt=""> </div>
                            </div>
                          </div>
                          <div class="elementor-element elementor-element-41a8cf12 elementor-absolute elementor-hidden-phone elementor-widget elementor-widget-image" data-id="41a8cf12" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img src="./assets/05/首页云.png" title="" alt="" style="left: 200px; position: relative; top: 23px; "> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>

<div class="service-package" style="position: relative; margin-top: -500px; z-index: 3">
  <div class="package-box kefuchatBackground">
    <div class="box"><a class="tab active-type-enterprise">套餐</a>
      <div class="con">
        <div class="list kefuchat">
          <div class="subtitle">
            客服洽是新兴客户支持解决方案，已服务超过
            <a>7</a>
            个行业的
            <a>150+</a>
            家企业和团队，<br>
            提供数种套餐，满足任意规模的团队使用，
            <a>3</a>
            多种免费+商业套餐。
          </div>
          <div class="kefuchat-package">
            <div class="package">
              <div class="vip">
                <h1>免费版</h1>
                <div class="description">
                  适合重视组织管理和文件安全的中大及专业型企业。提供全方位的管理和安全服务。
                </div>
                <div class="price"><span class="money">¥</span> <span class="num">0</span> <span class="month">/月</span></div>
                <div class="info"><span class="space">同时接待<span class="info-yellow">2</span></span> <span class="contain">
                  坐席数<span class="info-yellow">2</span>人</span></div> <a><span>查看套餐详情&nbsp;&nbsp;</span><img class="d-inline-block" src="data:image/svg+xml;base64,PHN2ZyB0PSIxNTg3ODkzMTU4NjY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjEyMDciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE3MC42NjY2NjcgNDY5LjMzMzMzM2g1NTQuNjY2NjY2djg1LjMzMzMzNEgxNzAuNjY2NjY3eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOCI+PC9wYXRoPjxwYXRoIGQ9Ik00MjkuNjk2IDc0OS42OTZsMzAxLjY5Ni0zMDEuNjk2IDYwLjMzMDY2NyA2MC4zMzA2NjctMzAxLjY1MzMzNCAzMDEuNjk2eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOSI+PC9wYXRoPjxwYXRoIGQ9Ik03MzEuMzkyIDU2OC42NjEzMzNsLTMwMS42NTMzMzMtMzAxLjY1MzMzMyA2MC4yODgtNjAuMzczMzMzIDMwMS42OTYgMzAxLjY5NnoiIGZpbGw9IiM3NDdCOTMiIHAtaWQ9IjEyMTAiPjwvcGF0aD48L3N2Zz4="></a>
              </div>
            </div>
            <div class="package">
              <div class="enterprise">
                <h1>专业版</h1>
                <div class="description">
                  适合5人以内的小型团队。提供基本满足需要的套餐服务。
                  
                </div>
                <div class="price"><span class="money">¥</span> <span class="num">800</span> <span class="month">/年</span></div>
                <div class="info"><span class="space">同时接待<span class="info-yellow">10</span></span> <span class="contain">坐席数<span class="info-yellow">5</span>人</span></div> <a><span>查看套餐详情&nbsp;&nbsp;</span><img class="d-inline-block" src="data:image/svg+xml;base64,PHN2ZyB0PSIxNTg3ODkzMTU4NjY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjEyMDciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE3MC42NjY2NjcgNDY5LjMzMzMzM2g1NTQuNjY2NjY2djg1LjMzMzMzNEgxNzAuNjY2NjY3eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOCI+PC9wYXRoPjxwYXRoIGQ9Ik00MjkuNjk2IDc0OS42OTZsMzAxLjY5Ni0zMDEuNjk2IDYwLjMzMDY2NyA2MC4zMzA2NjctMzAxLjY1MzMzNCAzMDEuNjk2eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOSI+PC9wYXRoPjxwYXRoIGQ9Ik03MzEuMzkyIDU2OC42NjEzMzNsLTMwMS42NTMzMzMtMzAxLjY1MzMzMyA2MC4yODgtNjAuMzczMzMzIDMwMS42OTYgMzAxLjY5NnoiIGZpbGw9IiM3NDdCOTMiIHAtaWQ9IjEyMTAiPjwvcGF0aD48L3N2Zz4="></a>
              </div>
              <a href="/register" (click)="router.navigateByUrl('/register')" class="free">
                提供15天免费试用，了解详情
              </a>
            </div>
            <div class="package base">
              <h1>旗舰版</h1>
              <div class="description">
                适合有共享和协作需求的规模型企业。提供超大配额套餐服务。
              </div>
              <div class="price">
                <div class="icon-activity"><span>限时专享价</span></div> <span class="money">¥</span> <span class="num">2899</span> <span class="month">/年</span>
              </div>
              <div class="before-price"><span class="origin-price">原价：￥5899/年</span>
                <div class="base-discount"><img src="https://p2.ssl.qhimg.com/t01e1cd166fca043f13.png">
                  <div class="base-discount-description">上线特惠价，注册客服洽将获得一张3000元抵用券！
                    <span class="triangle"></span></div>
                </div>
              </div>
              <div class="info"><span class="space">
                  同时接待<span class="info-yellow">100</span></span> <span class="contain">
                  坐席数<span class="info-yellow">50</span>人
                </span></div> <a><span>查看套餐详情&nbsp;&nbsp;</span><img class="d-inline-block" src="data:image/svg+xml;base64,PHN2ZyB0PSIxNTg3ODkzMTU4NjY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjEyMDciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE3MC42NjY2NjcgNDY5LjMzMzMzM2g1NTQuNjY2NjY2djg1LjMzMzMzNEgxNzAuNjY2NjY3eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOCI+PC9wYXRoPjxwYXRoIGQ9Ik00MjkuNjk2IDc0OS42OTZsMzAxLjY5Ni0zMDEuNjk2IDYwLjMzMDY2NyA2MC4zMzA2NjctMzAxLjY1MzMzNCAzMDEuNjk2eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOSI+PC9wYXRoPjxwYXRoIGQ9Ik03MzEuMzkyIDU2OC42NjEzMzNsLTMwMS42NTMzMzMtMzAxLjY1MzMzMyA2MC4yODgtNjAuMzczMzMzIDMwMS42OTYgMzAxLjY5NnoiIGZpbGw9IiM3NDdCOTMiIHAtaWQ9IjEyMTAiPjwvcGF0aD48L3N2Zz4="></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="package-intro-old">
    <table class="package-intro-table">
      <thead class="package-head">
        <tr class="head">
          <th width="200" class="thead-title">套餐版本</th>
          <th>免费版</th>
          <th>专业版</th>
          <th>旗舰版</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="package-intro-th">基础配置</td>
          <td class="package-align-left" style="display: none;">
            基础配置
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">封顶人数</td>
          <td class="package-align-left">
            封顶人数
            <!---->
          </td>
          <td><span>2</span></td>
          <td><span>5</span></td>
          <td><span>50</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">会话并发</td>
          <td class="package-align-left">
            会话并发
            <!---->
          </td>
          <td><span>2</span></td>
          <td><span>10</span></td>
          <td><span>100</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">站点数</td>
          <td class="package-align-left">
            站点数
            <!---->
          </td>
          <td><span>1</span></td>
          <td><span>1</span></td>
          <td><span>5</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">多终端访问</td>
          <td class="package-align-left">
            多终端访问
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持Web、Windows、Mac、iOS、Android、H5等多终端</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">功能与特性</td>
          <td class="package-align-left" style="display: none;">
            功能与特性
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">主动与在线用户对话</td>
          <td class="package-align-left">
            主动与在线用户对话
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>发掘没有主动联系但用购买意向的客户</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">离线触达</td>
          <td class="package-align-left">
            离线触达
            <!---->
          </td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">邮件联系</td>
          <td class="package-align-left">
            邮件联系
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>客户和您可以通过邮件对话</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">对话联系</td>
          <td class="package-align-left">
            对话联系
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>通过电话直接联络</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">涂改液</td>
          <td class="package-align-left">
            涂改液
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>更正已发出的消息。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文本消息</td>
          <td class="package-align-left">
            文本消息
          </td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">图片消息</td>
          <td class="package-align-left">
            图片消息
          </td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">Emoji表情</td>
          <td class="package-align-left">
            Emoji表情
          </td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件消息</td>
          <td class="package-align-left">
            文件消息
          </td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">安全性</td>
          <td class="package-align-left" style="display: none;">
            安全性
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">客户资料脱敏</td>
          <td class="package-align-left">
            客户资料脱敏
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>客户的邮箱、手机、通讯地址将不再显示，员工联系统一通过客服洽在线范围联系（包括邮箱和电话）。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">私有部署</td>
          <td class="package-align-left">
            私有部署
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>客户资料、对话内容等数据完全您公司掌握</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><span>另收费 8万/1台服务器*1年</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">企业管理</td>
          <td class="package-align-left" style="display: none;">
            企业管理
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">企业架构管理和隔离</td>
          <td class="package-align-left">
            企业架构管理和隔离
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持按照企业组织架构将成员分配到对应的部门，并分部门管理文件。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">成员管理</td>
          <td class="package-align-left">
            成员管理
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持添加和管理成员。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><span><i class="ico-check"></i><br>支持批量账号导入</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">部门管理</td>
          <td class="package-align-left">
            部门管理
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持管理部门信息、空间和下属成员。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">多级管理员设置</td>
          <td class="package-align-left">
            多级管理员设置
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持新建多级管理员，设置管理员的管理权限和部门管理范围。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span><i class="ico-check"></i><br>管理员数量最多3个</span></td>
          <td><span><i class="ico-check"></i><br>管理员数量最多无限制</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">数据报表</td>
          <td class="package-align-left">
            数据报表
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>包含成员统计、空间统计、文件统计、安全报告四大模块，满足企业在文件管理中的数据可视化需求。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">高级功能</td>
          <td class="package-align-left" style="display: none;">
            高级功能
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">全球加速</td>
          <td class="package-align-left">
            全球加速
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>正常使用下，不限制流量。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">专属VIP顾问服务</td>
          <td class="package-align-left">
            专属VIP顾问服务
            <!---->
          </td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>