<main id="site-content" role="main">
  <article class="post-33 page type-page status-publish has-post-thumbnail hentry" id="post-33">
    <div class="post-inner thin ">
      <div class="entry-content">
        <div data-elementor-type="wp-page" data-elementor-id="33" class="elementor elementor-33" data-elementor-settings="[]">
          <div class="elementor-inner">
            <div class="elementor-section-wrap">
              <section class="elementor-element elementor-element-6fc1aa0b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6fc1aa0b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1440px; left: -99.5px; height: 650px;">
              </section>
              <section class="elementor-element elementor-element-698e6710 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="698e6710" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div class="elementor-element elementor-element-684a66ec elementor-column elementor-col-100 elementor-top-column" data-id="684a66ec" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-2fd09320 elementor-absolute elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-image" data-id="2fd09320" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img src="./assets/05/彩色.png" title="" alt=""> </div>
                            </div>
                          </div>
                          <div class="elementor-element elementor-element-41a8cf12 elementor-absolute elementor-hidden-phone elementor-widget elementor-widget-image" data-id="41a8cf12" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img src="./assets/05/首页云.png" title="" alt="" style="left: 200px; position: relative; top: 23px; "> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>

<div class="service-package" style="position: relative; margin-top: -500px; z-index: 3">
  <div class="package-box kefuchatBackground">
    <div class="box"><a class="tab active-type-enterprise">套餐</a>
      <div class="con">
        <div class="list kefuchat">
          <div class="subtitle">
            客服洽是新兴客户支持解决方案，已服务超过
            <a>7</a>
            个行业的
            <a>150+</a>
            家企业和团队，<br>
            提供数种套餐，满足任意规模的团队使用，
            <a>3</a>
            多种免费+商业套餐。
          </div>
          <div class="kefuchat-package">
            <div class="package">
              <div class="vip">
                <h1>免费版</h1>
                <div class="description">
                  适合重视组织管理和文件安全的中大及专业型企业。提供全方位的管理和安全服务。
                </div>
                <div class="price"><span class="money">¥</span> <span class="num">0</span> <span class="month">/月</span></div>
                <div class="info"><span class="space">同时接待<span class="info-yellow">2</span></span> <span class="contain">
                  坐席数<span class="info-yellow">2</span>人</span></div> <a><span>查看套餐详情&nbsp;&nbsp;</span><img class="d-inline-block" src="data:image/svg+xml;base64,PHN2ZyB0PSIxNTg3ODkzMTU4NjY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjEyMDciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE3MC42NjY2NjcgNDY5LjMzMzMzM2g1NTQuNjY2NjY2djg1LjMzMzMzNEgxNzAuNjY2NjY3eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOCI+PC9wYXRoPjxwYXRoIGQ9Ik00MjkuNjk2IDc0OS42OTZsMzAxLjY5Ni0zMDEuNjk2IDYwLjMzMDY2NyA2MC4zMzA2NjctMzAxLjY1MzMzNCAzMDEuNjk2eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOSI+PC9wYXRoPjxwYXRoIGQ9Ik03MzEuMzkyIDU2OC42NjEzMzNsLTMwMS42NTMzMzMtMzAxLjY1MzMzMyA2MC4yODgtNjAuMzczMzMzIDMwMS42OTYgMzAxLjY5NnoiIGZpbGw9IiM3NDdCOTMiIHAtaWQ9IjEyMTAiPjwvcGF0aD48L3N2Zz4="></a>
              </div>
            </div>
            <div class="package">
              <div class="enterprise">
                <h1>专业版</h1>
                <div class="description">
                  适合有共享和协作需求的中小型企业。提供超大的共享空间和完善的在线协作服务。
                </div>
                <div class="price"><span class="money">¥</span> <span class="num">800</span> <span class="month">/年</span></div>
                <div class="info"><span class="space">同时接待<span class="info-yellow">10</span></span> <span class="contain">坐席数<span class="info-yellow">5</span>人</span></div> <a><span>查看套餐详情&nbsp;&nbsp;</span><img class="d-inline-block" src="data:image/svg+xml;base64,PHN2ZyB0PSIxNTg3ODkzMTU4NjY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjEyMDciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE3MC42NjY2NjcgNDY5LjMzMzMzM2g1NTQuNjY2NjY2djg1LjMzMzMzNEgxNzAuNjY2NjY3eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOCI+PC9wYXRoPjxwYXRoIGQ9Ik00MjkuNjk2IDc0OS42OTZsMzAxLjY5Ni0zMDEuNjk2IDYwLjMzMDY2NyA2MC4zMzA2NjctMzAxLjY1MzMzNCAzMDEuNjk2eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOSI+PC9wYXRoPjxwYXRoIGQ9Ik03MzEuMzkyIDU2OC42NjEzMzNsLTMwMS42NTMzMzMtMzAxLjY1MzMzMyA2MC4yODgtNjAuMzczMzMzIDMwMS42OTYgMzAxLjY5NnoiIGZpbGw9IiM3NDdCOTMiIHAtaWQ9IjEyMTAiPjwvcGF0aD48L3N2Zz4="></a>
              </div>
              <a href="/register" (click)="router.navigateByUrl('/register')" class="free">
                提供15天免费试用，了解详情
              </a>
            </div>
            <div class="package base">
              <h1>企业版</h1>
              <div class="description">
                适合5人以内的小型团队。提供文件同步、共享和移动办公等基础服务。
              </div>
              <div class="price">
                <div class="icon-activity"><span>限时专享价</span></div> <span class="money">¥</span> <span class="num">2899</span> <span class="month">/年</span>
              </div>
              <div class="before-price"><span class="origin-price">原价：￥5899/年</span>
                <div class="base-discount"><img src="https://p2.ssl.qhimg.com/t01e1cd166fca043f13.png">
                  <div class="base-discount-description">上线特惠价，注册客服洽将获得一张3000元抵用券！
                    <span class="triangle"></span></div>
                </div>
              </div>
              <div class="info"><span class="space">
                  同时接待<span class="info-yellow">100</span></span> <span class="contain">
                  坐席数<span class="info-yellow">50</span>人
                </span></div> <a><span>查看套餐详情&nbsp;&nbsp;</span><img class="d-inline-block" src="data:image/svg+xml;base64,PHN2ZyB0PSIxNTg3ODkzMTU4NjY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjEyMDciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE3MC42NjY2NjcgNDY5LjMzMzMzM2g1NTQuNjY2NjY2djg1LjMzMzMzNEgxNzAuNjY2NjY3eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOCI+PC9wYXRoPjxwYXRoIGQ9Ik00MjkuNjk2IDc0OS42OTZsMzAxLjY5Ni0zMDEuNjk2IDYwLjMzMDY2NyA2MC4zMzA2NjctMzAxLjY1MzMzNCAzMDEuNjk2eiIgZmlsbD0iIzc0N0I5MyIgcC1pZD0iMTIwOSI+PC9wYXRoPjxwYXRoIGQ9Ik03MzEuMzkyIDU2OC42NjEzMzNsLTMwMS42NTMzMzMtMzAxLjY1MzMzMyA2MC4yODgtNjAuMzczMzMzIDMwMS42OTYgMzAxLjY5NnoiIGZpbGw9IiM3NDdCOTMiIHAtaWQ9IjEyMTAiPjwvcGF0aD48L3N2Zz4="></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="package-intro-old">
    <table class="package-intro-table">
      <thead class="package-head">
        <tr class="head">
          <th width="200" class="thead-title">套餐版本</th>
          <th>入门版</th>
          <th>高级版</th>
          <th>旗舰版</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="package-intro-th">基础配置</td>
          <td class="package-align-left" style="display: none;">
            基础配置
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">封顶人数</td>
          <td class="package-align-left">
            封顶人数
            <!---->
          </td>
          <td><span>5</span></td>
          <td><span>50</span></td>
          <td><span s="">上不封顶</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">存储空间</td>
          <td class="package-align-left">
            存储空间
            <!---->
          </td>
          <td><span>100GB</span></td>
          <td><span>1TB（可扩容）</span></td>
          <td><span s="">3TB（可扩容）</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">外部协作人员数</td>
          <td class="package-align-left">
            外部协作人员数
            <!---->
          </td>
          <td><span>0</span></td>
          <td><span>10</span></td>
          <td><span s="">20（可增购）</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">多终端访问</td>
          <td class="package-align-left">
            多终端访问
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持Web、Windows、Mac、iOS、Android、H5等多终端</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">存储与共享</td>
          <td class="package-align-left" style="display: none;">
            存储与共享
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">本地和云端文件实时同步</td>
          <td class="package-align-left">
            本地和云端文件实时同步
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持本地文件与云端文件的实时同步，保障多人多终端共享文件的一致性和实时性。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">专属传输通道</td>
          <td class="package-align-left">
            专属传输通道
            <!---->
          </td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">不限流量</td>
          <td class="package-align-left">
            不限流量
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>非正常使用下，将限制流量。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">精细化权限设置</td>
          <td class="package-align-left">
            精细化权限设置
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>七级协作权限组合，高效管理成员的文件预览/编辑/上传/下载/删除/分享等权限。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">外链分享</td>
          <td class="package-align-left">
            外链分享
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>生成文件(夹)分享外链，可设置分享对象、访问权限、密码和有效期。注：免费版、试用中的高级版和旗舰版需开通管理员实名认证，付费用户可直接正常使用。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">分享状态追踪</td>
          <td class="package-align-left">
            分享状态追踪
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>全局管理我发起和收到的全部分享，浏览分享的访问情况和预览/下载数据。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">文件查阅</td>
          <td class="package-align-left" style="display: none;">
            文件查阅
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">近百种常规格式文件预览</td>
          <td class="package-align-left">
            近百种常规格式文件预览
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持Word、Excel、PPT、PDF、AutoCAD、图片和文本等近百种格式预览。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">设计行业高级预览</td>
          <td class="package-align-left">
            设计行业高级预览
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持psd和ai格式预览。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">项目管理高级预览</td>
          <td class="package-align-left">
            项目管理高级预览
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持Project和Visio文件预览。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">工程行业专业预览</td>
          <td class="package-align-left">
            工程行业专业预览
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持3D预览和浩辰CAD预览。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">音视频在线预览</td>
          <td class="package-align-left">
            音视频在线预览
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持mp3/mp4/mov/wav等音视频格式预览。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><span s="">增值服务</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">单文件历史版本数</td>
          <td class="package-align-left">
            单文件历史版本数
            <!---->
          </td>
          <td><span>10</span></td>
          <td><span>50</span></td>
          <td><span s="">100</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">高级搜索</td>
          <td class="package-align-left">
            高级搜索
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持文件(夹)名称、所在目录、文件类型、标签、创建/修改人、修改时间等多条件组合的搜索。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件内容全文搜索</td>
          <td class="package-align-left">
            文件内容全文搜索
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>在高级搜索的基础上，支持匹配正文关键词搜索目标文件，提升文档查找效率。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">文件协作</td>
          <td class="package-align-left" style="display: none;">
            文件协作
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">多人同时在线编辑</td>
          <td class="package-align-left">
            多人同时在线编辑
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持多人同时在线编辑Word、Excel、PPT和PDF文件，协作动态实时可见。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件(夹)评论</td>
          <td class="package-align-left">
            文件(夹)评论
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持对文件和文件夹进行评论和回复，以及@相关人员。App端还支持语音评论。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件动态查看和订阅</td>
          <td class="package-align-left">
            文件动态查看和订阅
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>文件(夹)动态包含成员的上传、新建、移动、复制、保存、分享、加入协作、重命名、删除、还原等操作信息，支持查看和订阅动态。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件收集</td>
          <td class="package-align-left">
            文件收集
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持向指定成员发起文件收集邀请并自动统计收集进度，被邀请人上传的文件会自动上传到邀请人指定的文件夹中。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件审阅</td>
          <td class="package-align-left">
            文件审阅
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持对待确认的文件发起单人/多人审阅，审阅过程中产生的评论、审阅同意/拒绝/退回等操作，将实时推送给用户，审阅进度清晰可见。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">文件与账号安全</td>
          <td class="package-align-left" style="display: none;">
            文件与账号安全
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">安全水印预览</td>
          <td class="package-align-left">
            安全水印预览
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持对重要文件开启水印预览。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件在线查毒</td>
          <td class="package-align-left">
            文件在线查毒
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>自动对上传至云端的文件进行病毒查杀，及时隔离高危文件，高效阻断病毒源。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">外链分享管控</td>
          <td class="package-align-left">
            外链分享管控
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持设置统一的外链分享策略，包括设置分享对象、访问权限和次数、默认有效期和是否设置密码。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">登录IP地址限制</td>
          <td class="package-align-left">
            登录IP地址限制
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>限制成员只能在企业允许的区域登录。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">登录设备限制</td>
          <td class="package-align-left">
            登录设备限制
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>限制成员只能在企业允许的设备和终端登录。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">登录二次验证</td>
          <td class="package-align-left">
            登录二次验证
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持管理员设置是否对成员账号开启登录二次验证。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">APP安全登录</td>
          <td class="package-align-left">
            APP安全登录
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>App端用户可选择是否开启指纹、手势或数字密码保护，保障移动端的账号安全。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文件防泄露</td>
          <td class="package-align-left">
            文件防泄露
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持对指定文件夹开启文件防泄漏系统，管控重要文件的敏感操作行为，保障文件在线和离线安全。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><span s="">增值服务</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">企业管理</td>
          <td class="package-align-left" style="display: none;">
            企业管理
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">企业架构管理和隔离</td>
          <td class="package-align-left">
            企业架构管理和隔离
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持按照企业组织架构将成员分配到对应的部门，并分部门管理文件。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">成员管理</td>
          <td class="package-align-left">
            成员管理
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持添加和管理成员。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><span s=""><i class="ico-check"></i><br>支持批量账号导入</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">部门管理</td>
          <td class="package-align-left">
            部门管理
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持管理部门信息、空间和下属成员。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">群组管理</td>
          <td class="package-align-left">
            群组管理
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持新建群组，管理群组信息和成员。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">多级管理员设置</td>
          <td class="package-align-left">
            多级管理员设置
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持新建多级管理员，设置管理员的管理权限和部门管理范围。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span><i class="ico-check"></i><br>管理员数量最多3个</span></td>
          <td><span s=""><i class="ico-check"></i><br>管理员数量最多无限制</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">日志查询</td>
          <td class="package-align-left">
            日志查询
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>支持按时间段、操作类型、相关成员查询操作日志，并支持导出。</span></div>
            </a></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">数据报表</td>
          <td class="package-align-left">
            数据报表
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>包含成员统计、空间统计、文件统计、安全报告四大模块，满足企业在文件管理中的数据可视化需求。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">高级功能</td>
          <td class="package-align-left" style="display: none;">
            高级功能
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">全球加速</td>
          <td class="package-align-left">
            全球加速
            <a><svg aria-hidden="true" class="icon-svg">
                <use xlink:href="#icon-package-info"></use>
              </svg>
              <div class="description"><span>正常使用下，不限制流量。</span></div>
            </a></td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">在线解压缩</td>
          <td class="package-align-left">
            在线解压缩
            <!---->
          </td>
          <td><span>-</span></td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">文档扫描</td>
          <td class="package-align-left">
            文档扫描
            <!---->
          </td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">在线打印</td>
          <td class="package-align-left">
            在线打印
            <!---->
          </td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th">服务与支持</td>
          <td class="package-align-left" style="display: none;">
            服务与支持
            <!---->
          </td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span></span></td>
          <td style="display: none;"><span s=""></span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">400人工服务时间</td>
          <td class="package-align-left">
            400人工服务时间
            <!---->
          </td>
          <td><span>7*24小时</span></td>
          <td><span>7*24小时</span></td>
          <td><span s="">7*24小时</span></td>
        </tr>
        <tr>
          <td colspan="4" class="package-intro-th" style="display: none;">专属VIP顾问服务</td>
          <td class="package-align-left">
            专属VIP顾问服务
            <!---->
          </td>
          <td><span>-</span></td>
          <td><i class="ico-check"></i></td>
          <td><i class="ico-check"></i></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>