.grid-header {
  padding-top: 10px;
  height: 160px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background: rgb(35, 96, 246);
  color: #fff;
  p {
    font-size: 12px;
    height: 20px;
    margin-bottom: 8px;
  }
}
.grid-content-first {
  background: rgb(91, 206, 112);
  height: 80px;
  font-size: 16px;
  font-weight: 700;
  line-height: 80px;
  color: #fff;
  text-align: center;
}
.cross {
  background: rgb(81, 186, 103) !important;
}
.grid-content {
  text-align: center;
  height: 80px;
  font-size: 14px;
  line-height: 80px;
}
.content-cross {
  background: rgb(240, 240, 240);
}
