<div nz-row nzJustify="center" nzAlign="top" class="width-100 pt-lg mt-lg">
    <div nz-row class="width-80 rounded-lg overflow-hidden">
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-header">套餐</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-header">
                <div>基础版 <sup>免费</sup></div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-header">
                <div>专业版 <sup>800元/年</sup></div>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-header">
                <div>企业版 <sup>2800元/年</sup></div>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first">同时对话数</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">2</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">10</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">100</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first cross">坐席数</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">2</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">5</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">50</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first">站点数</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">1</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">1</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">5</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first cross">对话存档时间(天)</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">90</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">90</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">365</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first">主题</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">5</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">10</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">30</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first cross">移除版权信息</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first">1对1 微信QQ支持</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">
                <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">
                <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first cross">1对1 电话支持</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first">私有部署</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content-first cross">对接企业统一登录</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content content-cross">
                <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / count">
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content grid-buttom p-lg">
                <button nz-button nzBlock nzSize="large" nzType="default" disabled>当前已选</button>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content grid-buttom p-lg">
                <button nz-button nzBlock nzSize="large" nzType="primary">升级“专业版”</button>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / count">
            <div class="grid-content grid-buttom p-lg">
                <button nz-button nzBlock nzSize="large" nzType="default">升级到“企业版”</button>
            </div>
        </div>
    </div>
</div>

<div nz-row nzJustify="center" nzAlign="top" class="width-100 pt-lg mt-lg">
    <div class="width-80">
        <p><b>说明:</b></p>
        <p class="m0">1. 套餐到期前不支持降级/退款.</p>
        <p class="m0">2. 套餐到期前可以升级到更高级套餐, 订单会自定计算您需要补齐的差价，支付即可升级.</p>
        <p class="m0">3. 支持开具增值税纸质发票, 请您联系您的专属1对1客服开具.</p>
    </div>
</div>