<div nz-row nzJustify="left" nzAlign="top" class="width-100 pt-lg mt-lg">
    <div nz-row class="width-80 rounded-lg overflow-hidden" *ngIf="plans.length">
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-header">套餐</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-header">
                <div>
                    {{ plan.name }}
                    <sup *ngIf="plan.price_annually === 0">免费</sup>
                    <sup *ngIf="plan.price_annually > 0">{{ plan.price_annually }}元/年</sup>
                </div>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">同时对话数 <a nzPopoverContent="同时咨询的访客数量，超出后访客将进入等待界面" nzPopoverPlacement="top" nz-popover><i nz-icon nzType="info-circle" nzTheme="twotone"></i></a></div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">{{ plan.concurrent }}</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first cross">坐席数</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content content-cross">{{ plan.seats }}</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">站点数</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">{{ plan.sites }}</div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first cross">对话存档时间(天)</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content content-cross"> {{ plan.archive_days }}</div>
        </div>

        <div nz-col class=" gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">统计报表</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">
                <i *ngIf="!plan.statistics" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.statistics" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first cross">主动联系</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content content-cross">
                <a *ngIf="plan.invite == 0" nzPopoverContent="在对方不主动发消息前提下，无法直接联络访客" nzPopoverPlacement="top" nz-popover>
                    <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                </a>
                <a *ngIf="plan.invite == 50" nzPopoverContent="在对方不主动发消息前提下，可直接联络访客50次/天" nzPopoverPlacement="top" nz-popover>
                    <i nz-icon nzType="question-circle" nzTheme="twotone"></i>
                </a>
                <a *ngIf="plan.invite == 999" nzPopoverContent="在对方不主动发消息前提下，可随时随地不限次数直接联络访客" nzPopoverPlacement="top" nz-popover>
                    <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
                </a>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">主题</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">
                <a *ngIf="plan.theme == 5" nzPopoverContent="可配置5款免费主题，不赠送商业主题" nzPopoverPlacement="top" nz-popover>
                    <i nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                </a>
                <a *ngIf="plan.theme == 10" nzPopoverContent="可配置5款免费主题+5款商业主题" nzPopoverPlacement="top" nz-popover>
                    <i nz-icon nzType="question-circle" nzTheme="twotone"></i>
                </a>
                <a *ngIf="plan.theme == 99" nzPopoverContent="可配置全部免费+商业主题，无限制" nzPopoverPlacement="top" nz-popover>
                    <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
                </a>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first cross">移除版权信息</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content content-cross">
                <i *ngIf="!plan.remove_powered_by" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.remove_powered_by" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">1对1 微信QQ支持</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">
                <i *ngIf="!plan.support_wechat" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.support_wechat" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first cross">1对1 电话支持</div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content content-cross">
                <i *ngIf="!plan.support_phone" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.support_phone" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">用户资料脱敏 <a nzPopoverContent="除管理员外，客服人员无法接触到客户的邮箱和联系电话，防止内部数据被盗" nzPopoverPlacement="top" nz-popover><i nz-icon nzType="info-circle" nzTheme="twotone"></i></a></div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">
                <i *ngIf="!plan.desensitize" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.desensitize" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first cross">私有部署 <a nzPopoverContent="部署到企业自己的服务器" nzPopoverPlacement="top" nz-popover><i nz-icon nzType="info-circle" nzTheme="twotone"></i></a></div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content content-cross">
                <i *ngIf="!plan.private_deploy" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.private_deploy" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
            <div class="grid-content-first">对接企业统一登录 <a nzPopoverContent="使用企业内部统一验证系统登录" nzPopoverPlacement="top" nz-popover><i nz-icon nzType="info-circle" nzTheme="twotone"></i></a></div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content">
                <i *ngIf="!plan.sso" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
                <i *ngIf="plan.sso" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)">
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / (plans.length + 1)" *ngFor="let plan of plans">
            <div class="grid-content grid-buttom p-lg">
                <button *ngIf="plan.name == '基础版'" nz-button nzBlock nzSize="large" nzType="default" disabled>当前套餐</button>
                <button *ngIf="plan.name == '专业版'" nz-button nzBlock nzSize="large" nzType="primary" (click)="select(plan.id)">升级“{{plan.name}}”</button>
                <button *ngIf="plan.name == '企业版'" nz-button nzBlock nzSize="large" nzType="default" (click)="select(plan.id)">升级到“{{plan.name}}”</button>
            </div>
        </div>
    </div>
</div>

<div nz-row nzJustify="left" nzAlign="top" class="width-100 pt-lg mt-lg">
    <div class="width-80">
        <p><b>说明:</b></p>
        <p class="m0">1. 套餐到期前不支持降级/退款.</p>
        <p class="m0">2. 套餐到期前可以升级到更高级套餐, 订单会自定计算您需要补齐的差价，支付即可升级.</p>
        <p class="m0">3. 支持开具增值税纸质发票, 请您联系您的专属1对1客服开具.</p>
    </div>
</div>

<nz-drawer *ngIf="selectedPlan" [nzClosable]="false" [nzWidth]="450" [nzVisible]="selectedPlan" [nzTitle]="'选购“' + plan.name + '”'" (nzOnClose)="unselect()">
  <form nz-form nzLayout="vertical" [formGroup]="upgradeForm" (ngSubmit)="upgrade()">
    <nz-form-item>
      <nz-form-label>时长</nz-form-label>
      <nz-form-control nzErrorTip="Please select your 时长!">
        <nz-radio-group formControlName="period">
          <label *ngFor="let key of periodsList" nz-radio-button [nzValue]="key">{{('period_' + key) | i18n}}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>价格</nz-form-label>
      <nz-form-control>
        <span class="text-lime-6 font-weight-bold">￥{{selectedPlan['price_' + upgradeForm.get('period').value]}}</span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">下单</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>

<div class="title mt-lg pt-lg">订单记录</div>
<nz-table [nzData]="orders" [nzShowPagination]="true" [nzTotal]="ordersTotal" [nzPageSize]="per_page" (nzPageIndexChange)="orderList($event)">
  <thead>
    <tr>
      <!--<th>#</th>-->
      <th>套餐</th>
      <th>金额</th>
      <th>时长</th>
      <th>状态</th>
      <th>下单时间</th>
      <th class="text-right">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <!--<td>{{ order.id }}</td>-->
      <td>{{ order.plan.name }}</td>
      <td>{{ order.price }}</td>
      <td>{{ ('period_' + order.period) | i18n }}</td>
      <td>{{ ('order_status_' + order.status) | i18n }}</td>
      <td>{{ order.created_at }}</td>
      <td class="text-right">
        <span class="table-operation">
          <span *ngIf="order.status == STATUS_UNPAID">
            <a (click)="pay(order)">继续支付</a>
          </span>
          <span *ngIf="order.status == STATUS_UNPAID">
            <nz-divider nzType="vertical"></nz-divider>
            <a 
              nz-popconfirm
              nzPopconfirmTitle="确认取消订单?"
              nzOkText="仍要取消"
              nzOkType="danger"
              nzPopconfirmPlacement="left"
              [nzIcon]="iconTpl"
              (nzOnConfirm)="cancel(order)">
              <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red"></i>
              </ng-template>
              取消
            </a>
          </span>
          <span *ngIf="order.status == STATUS_PAID">
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="applyInvoice(order)">申请发票</a>
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</nz-table>