<div data-rsssl="1" class="home page-template-default page page-id-33 custom-background wp-custom-logo wp-embed-responsive ppwp-short-code-post singular has-post-thumbnail has-no-pagination not-showing-comments show-avatars footer-top-visible reduced-spacing elementor-default elementor-kit-11 elementor-page elementor-page-33" data-elementor-device-mode="desktop">

  <a class="skip-link screen-reader-text" href="#site-content">跳至内容</a>
  <div id="mysticky-wrap">
    <div id="mysticky-nav" style="top: 0px;">
      <header id="site-header" class="header-footer-group" role="banner">

        <div class="header-inner section-inner">

          <div class="header-titles-wrapper">


            <div class="header-titles">

              <div class="site-logo faux-heading"><a (click)="!router.navigateByUrl('/')" href="/" class="custom-logo-link" rel="home" itemprop="url"><img width="102" height="27" style="height: 27px;" src="./assets/logo-color.svg" class="custom-logo" alt="" sizes="(max-width: 204px) 100vw, 204px"></a><span class="screen-reader-text">客服洽</span></div>
              <div class="site-description">描述</div><!-- .site-description -->
            </div><!-- .header-titles -->

            <button class="toggle nav-toggle mobile-nav-toggle" data-toggle-target=".menu-modal" data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
              <span class="toggle-inner">
                <span class="toggle-icon">
                  <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="26" height="7" viewBox="0 0 26 7">
                    <path fill-rule="evenodd" d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z" transform="translate(-329 -38)"></path>
                  </svg> </span>
                <span class="toggle-text">菜单</span>
              </span>
            </button><!-- .nav-toggle -->

          </div><!-- .header-titles-wrapper -->

          <div class="header-navigation-wrapper">


            <nav class="primary-menu-wrapper" aria-label="水平" role="navigation">

              <ul class="primary-menu reset-list-style">

                <li id="menu-item-882" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-882"><a (click)="!router.navigateByUrl('/')" href="/">首页</a></li>
                <li id="menu-item-4250" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4250"><a (click)="!router.navigateByUrl('/pricing')" href="/pricing">价格</a></li>
                <li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-89"><a (click)="!router.navigateByUrl('/help/')" href="/help/">帮助支持</a><span class="icon"></span>
                  <ul class="sub-menu">
                    <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-docs menu-item-111"><a (click)="!router.navigateByUrl('/help/tutorial-1-quick-start/')" href="/help/tutorial-1-quick-start/">快速入门</a></li>
                    <li id="menu-item-3915" class="menu-item menu-item-type-post_type menu-item-object-docs menu-item-3915"><a (click)="!router.navigateByUrl('/help/manual-1-what-is-kefuchat/')" href="/help/manual-1-what-is-kefuchat/">产品指南</a></li>
                    <li id="menu-item-5635" class="menu-item menu-item-type-taxonomy menu-item-object-doc_category menu-item-5635"><a (click)="!router.navigateByUrl('/docs-category/developer/')" href="/docs-category/developer/">开发者文档</a></li>
                    <li id="menu-item-1852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1852"><a (click)="!router.navigateByUrl('/help/')" href="/help/">常见问题</a></li>
                  </ul>
                </li>
                <li id="menu-item-834" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-834"><a (click)="!router.navigateByUrl('/login')" (click)="!router.navigateByUrl('/login')" href="/login">登录</a></li>
                <li id="menu-item-915" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-915"><a (click)="!router.navigateByUrl('/register')" (click)="!router.navigateByUrl('/register')" href="/register">注册</a></li>

              </ul>

            </nav><!-- .primary-menu-wrapper -->


          </div><!-- .header-navigation-wrapper -->

        </div><!-- .header-inner -->


      </header>
    </div>
  </div><!-- #site-header -->


  <div class="menu-modal cover-modal header-footer-group" data-modal-target-string=".menu-modal">

    <div class="menu-modal-inner modal-inner">

      <div class="menu-wrapper section-inner">

        <div class="menu-top">

          <button class="toggle close-nav-toggle fill-children-current-color" data-toggle-target=".menu-modal" data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".menu-modal">
            <span class="toggle-text">关闭菜单</span>
            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <polygon fill="" fill-rule="evenodd" points="6.852 7.649 .399 1.195 1.445 .149 7.899 6.602 14.352 .149 15.399 1.195 8.945 7.649 15.399 14.102 14.352 15.149 7.899 8.695 1.445 15.149 .399 14.102"></polygon>
            </svg> </button><!-- .nav-toggle -->


          <nav class="mobile-menu" aria-label="移动" role="navigation">

            <ul class="modal-menu reset-list-style">

              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-882">
                <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/')" href="/">首页</a></div><!-- .ancestor-wrapper -->
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4250">
                <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/pricing')" href="/template">价格</a></div><!-- .ancestor-wrapper -->
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-89">
                <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/help/')" href="/help/">帮助支持</a><button class="toggle sub-menu-toggle fill-children-current-color" data-toggle-target=".menu-modal .menu-item-89 > .sub-menu" data-toggle-type="slidetoggle" data-toggle-duration="250" aria-expanded="false"><span class="screen-reader-text">显示子菜单</span><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12">
                      <polygon fill="" fill-rule="evenodd" points="1319.899 365.778 1327.678 358 1329.799 360.121 1319.899 370.021 1310 360.121 1312.121 358" transform="translate(-1310 -358)"></polygon>
                    </svg></button></div><!-- .ancestor-wrapper -->
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-docs menu-item-111">
                    <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/help/tutorial-1-quick-start/')" href="/help/tutorial-1-quick-start/">快速入门</a></div><!-- .ancestor-wrapper -->
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-docs menu-item-3915">
                    <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/help/manual-1-what-is-kefuchat/')" href="/help/manual-1-what-is-kefuchat/">产品指南</a></div><!-- .ancestor-wrapper -->
                  </li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-doc_category menu-item-5635">
                    <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/docs-category/developer/')" href="/docs-category/developer/">开发者文档</a></div><!-- .ancestor-wrapper -->
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1852">
                    <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/help/')" href="/help/">常见问题</a></div><!-- .ancestor-wrapper -->
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-834">
                <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/login')" href="/login">登录</a></div><!-- .ancestor-wrapper -->
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-915">
                <div class="ancestor-wrapper"><a (click)="!router.navigateByUrl('/register')" href="/register">注册</a></div><!-- .ancestor-wrapper -->
              </li>

            </ul>

          </nav>


        </div><!-- .menu-top -->

        <div class="menu-bottom">


        </div><!-- .menu-bottom -->

      </div><!-- .menu-wrapper -->

    </div><!-- .menu-modal-inner -->

  </div><!-- .menu-modal -->

  <router-outlet></router-outlet>

  <div class="footer-nav-widgets-wrapper header-footer-group">

    <div class="footer-inner section-inner">



      <aside class="footer-widgets-outer-wrapper" role="complementary">

        <div class="footer-widgets-wrapper">


          <div class="footer-widgets column-one grid-item">
            <div class="widget widget_media_image">
              <div class="widget-content"><a (click)="!router.navigateByUrl('/')" href="/"><img width="120" height="32" src="./assets/logo-color.svg" class="image wp-image-1968 img-center attachment-120x32 size-120x32" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 120px) 100vw, 120px"></a></div>
            </div>
            <div class="widget widget_text">
              <div class="widget-content">
                <div class="textwidget">
                  <p style="text-align:center">👇&nbsp; 加小恰微信，获得专属方案</p>
                </div>
              </div>
            </div>
            <div class="widget widget_media_image" *ngIf="false">
              <div class="widget-content"><img width="150" height="150" src="about:blank" sizes="(max-width: 150px) 100vw, 150px"></div>
            </div>
          </div>
          <div class="footer-widgets column-two grid-item">
            <div class="widget widget_nav_menu">
              <div class="widget-content">
                <h2 class="widget-title subheading heading-size-3">产品</h2>
                <div class="menu-%e5%ba%95%e9%83%a8%e8%8f%9c%e5%8d%95-%e4%ba%a7%e5%93%81-cn-container">
                  <ul id="menu-%e5%ba%95%e9%83%a8%e8%8f%9c%e5%8d%95-%e4%ba%a7%e5%93%81-cn" class="menu">
                    <li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-docs menu-item-257"><a (click)="!router.navigateByUrl('/help/tutorial-quick-start/')" href="/help/tutorial-quick-start/">快速入门</a></li>
                    <li id="menu-item-3917" class="menu-item menu-item-type-post_type menu-item-object-docs menu-item-3917"><a (click)="!router.navigateByUrl('/help/what-is-kefuchat/')" href="/help/what-is-kefuchat/">产品指南</a></li>
                    <li id="menu-item-753" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-753"><a (click)="!router.navigateByUrl('/pricing/')" href="/pricing/">产品价格</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="widget widget_nav_menu">
              <div class="widget-content">
                <h2 class="widget-title subheading heading-size-3">关于我们</h2>
                <div class="menu-%e5%ba%95%e9%83%a8%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac-cn-container">
                  <ul id="menu-%e5%ba%95%e9%83%a8%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac-cn" class="menu">
                    <li id="menu-item-489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-489"><a (click)="!router.navigateByUrl('/company/')" href="/company/">公司介绍</a></li>
                    <li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a (click)="!router.navigateByUrl('/join-us/')" href="/join-us/">加入我们</a></li>
                    <li id="menu-item-1431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1431"><a (click)="!router.navigateByUrl('/press/')" href="/press/">媒体报道</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



          <div class="footer-widgets column-three grid-item">
            <div class="widget widget_nav_menu">
              <div class="widget-content">
                <h2 class="widget-title subheading heading-size-3">支持</h2>
                <div class="menu-%e5%ba%95%e9%83%a8%e8%8f%9c%e5%8d%95-%e6%94%af%e6%8c%81-cn-container">
                  <ul id="menu-%e5%ba%95%e9%83%a8%e8%8f%9c%e5%8d%95-%e6%94%af%e6%8c%81-cn" class="menu">
                    <li id="menu-item-259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-259"><a href="#">意见反馈</a></li>
                    <li id="menu-item-258" class="menu-item menu-item-type-post_type_archive menu-item-object-docs menu-item-258"><a (click)="!router.navigateByUrl('/help/')" href="/help/">帮助中心</a></li>
                    <li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-260"><a (click)="!router.navigateByUrl('/service-agreement/')" href="/service-agreement/">服务条款</a></li>
                    <li id="menu-item-2273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2273"><a (click)="!router.navigateByUrl('/service-agreement/')" href="/service-agreement/">隐私协议</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>



          <div class="footer-widgets column-four grid-item">
            <div class="widget widget_text">
              <div class="widget-content">
                <h2 class="widget-title subheading heading-size-3">联系我们</h2>
                <div class="textwidget">
                  <div class="jss252"><a target="_blank" rel="noopener noreferrer">地址： 上海市金山卫秋实路688号</a></div>
                  <div class="jss252"><a href="mailto:support@kefu.chat" target="_blank" rel="noopener noreferrer">咨询： support@kefu.chat</a></div>
                  <div class="jss252"><a href="mailto:bd@kefu.chat" target="_blank" rel="noopener noreferrer">合作： bd@kefu.chat</a></div>
                  <div class="jss252"><a href="mailto:press@kefu.chat" target="_blank" rel="noopener noreferrer">媒体： press@kefu.chat</a></div>
                  <div class="jss252"><a href="mailto:career@kefu.chat" target="_blank" rel="noopener noreferrer">招聘： career@kefu.chat</a></div>
                  <div><a (click)="!router.navigateByUrl('/company/')" href="/company/">公司介绍</a> | <a (click)="!router.navigateByUrl('/join-us/')" href="/join-us/">加入我们&nbsp;</a></div>
                </div>
              </div>
            </div>
          </div>


        </div><!-- .footer-widgets-wrapper -->

      </aside><!-- .footer-widgets-outer-wrapper -->


    </div><!-- .footer-inner -->

  </div><!-- .footer-nav-widgets-wrapper -->


  <footer id="site-footer" role="contentinfo" class="header-footer-group">
    <div class="bottom-widget widget widget_text pt-lg">
      <div class="widget-content">
        <div class="textwidget">
          <p class="friendlink">友情链接：<a class="customize-unpreviewable" href="https://www.kefu.chat/" target="_blank" rel="noopener noreferrer">客服洽</a> | <a class="customize-unpreviewable" href="https://www.baidu.com/" target="_blank" rel="noopener noreferrer">百度</a></p>
        </div>
      </div>
    </div>
    <div class="section-inner">
      <div class="footer-credits">
        <p class="footer-copyright">
          © 2020 上海帝熙科技有限公司. All rights reserved.
        </p><!-- .footer-copyright -->
      </div><!-- .footer-credits -->
    </div><!-- .section-inner -->
    <div class="bottom-widget widget_text pb-lg pt0">
      <div class="widget-content">
        <div class="textwidget">
          <p class="friendlink">
            <a href="http://beian.miit.gov.cn/" target="_blank">沪ICP备20022337号-5</a>
            <a class="ml-sm" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502016290" target="_blank">公安备案号 31011502016290</a>
          </p>
        </div>
      </div>
    </div>

  </footer><!-- #site-footer -->
</div>